.email-info {
  padding: 0.25rem 0;
}

.email-info .sender-info h2 {
  margin-right: 1rem;

  display: inline-block;

  font-size: 0.925rem;
}

.email-info .user-info {
  margin-top: 0.5rem;
}

.email-info .user-info p {
  font-size: 0.825rem;
}
